<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="at.gaeckler.GpsWayPoints"
      android:versionName="@string/app_version" android:versionCode="5">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="23"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="true" android:enabled="true" android:allowClearUserData="true" android:supportsRtl="false" android:theme="@android:style/Theme.WithActionBar" android:persistent="true">
        <activity android:name="at.gaeckler.GpsWayPoints.GpsWayPointsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>